<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-VEP3FGKKNZ"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-VEP3FGKKNZ');
</script>
<style>
  :root {
    --table-border-color: black;
  }

  @media (prefers-color-scheme: dark) {
    :root {
      --table-border-color: white;
    }
  }

  table,
  th,
  td {
    border: 1px solid var(--table-border-color);
  }

  table {
    border-collapse: collapse;
    width: 100%;
  }

  th,
  td {
    padding: 8px;
    text-align: left;
  }
</style>
